<%- include('partials/head') %>
<body>
    <!-- 부트스트랩 네브바 -->
    <%- include('partials/navbar') %>
    <%= 'Hello World'.toUpperCase() %>
    <h1>the home page by ejs <%= 5 + 4 + 1  %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus quo ullam quos et veniam vel quam natus omnis quae cum. Rerum illo nesciunt id quasi praesentium est ut nemo porro?</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, soluta id enim ea itaque dicta expedita possimus fuga temporibus! Cumque voluptatem officiis, repudiandae facere unde veritatis. Eos rem animi itaque.</p>

    <%- include('partials/footer') %>
</body>
</html>